.layout-sidebar {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 64px;
  z-index: 999;
  background-color: #f4f4f4;
  border-right: 2px dotted #888;
}

.layout-sidebar .profile {
  text-align: center;
  margin: 40px 0 60px;
}

.layout-sidebar .profile .photo {
  border-radius: 50%;
  height: 130px;
  margin-bottom: 10px;
}

.layout-sidebar .profile div {
  font-size: 22px;
}

.layout-sidebar .profile .name {
  font-weight: bold;
}

.layout-sidebar .profile .role {
  color: #7f8c8d;
}

.layout-menu {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
}

.layout-menu li {
  padding: 0;
  width: 100%;
}

.layout-menu li a {
  display: block;
  padding: .7em 1em;
  position: relative;
}