<div class="layout-sidebar">
  <div class="profile">
    <img class="photo" src="http://contenidos.enter.co/custom/authors/diana.arias-196.jpg" />
    <div class="name">Claire White</div>
    <div class="role">System Admin</div>
  </div>
  <ul class="layout-menu">
    <li><a routerLink="/products">Productos</a></li>
    <!-- <li><a routerLink="/product/new">Nuevo producto</a></li> -->
    <li><a>«ItemMenu»</a></li>
    <li><a>«ItemMenu»</a></li>
    <li><a>«ItemMenu»</a></li>
    <li><a>«ItemMenu»</a></li>
    <li><a>«ItemMenu»</a></li>
  </ul>
</div>
