<h1>Productos</h1>
<p-table #dt [columns]="cols" [value]="data" sortMode="multiple" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon *ngIf="col.isSortable" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th style="width:4em;"></th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <p-dropdown *ngSwitchCase="'country'" [options]="countries" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <button type="button" pButton icon="pi pi-times" (click)="remove(rowIndex)" class="ui-button-danger"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogAdd()" label="Nuevo"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Producto detalle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="1100">
  <div class="ui-g ui-fluid">
    <div class="ui-g-8 ui-g-nopad">
      <div class="ui-g-4">
        <label for="id">Id</label>
      </div>
      <div class="ui-g-8">
        <input type="text" pInputText [(ngModel)]="entity.id" disabled />
      </div>
      <div class="ui-g-4">
        <label for="name">Nombre</label>
      </div>
      <div class="ui-g-8">
        <input type="text" pInputText [(ngModel)]="entity.name" />
      </div>
      <div class="ui-g-4">
        <label for="date">Fecha de lanzamiento</label>
      </div>
      <div class="ui-g-8">
        <p-calendar></p-calendar>
      </div>
      <div class="ui-g-4">
        <label for="feature">Característica</label>
      </div>
      <div class="ui-g-8">
        <textarea pInputText [(ngModel)]="entity.feature"></textarea>
      </div>
      <div class="ui-g-4">
        <label for="email">Correo fabricante</label>
      </div>
      <div class="ui-g-8">
        <input type="text" pInputText />
      </div>
      <div class="ui-g-4">
        <label for="country">País de fabricación</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown [options]="countries" [(ngModel)]="entity.country" [style]="{'width':'100%'}"></p-dropdown>
      </div>
      <div class="ui-g-4">
        <label for="price">Precio</label>
      </div>
      <div class="ui-g-8">
        <input type="number" pInputText />
      </div>
      <div class="ui-g-4">
        <label for="price">Unidades disponibles</label>
      </div>
      <div class="ui-g-8">
        <input type="number" pInputText />
      </div>
      <div class="ui-g-4">
        <label for="price">Unidades vendidas</label>
      </div>
      <div class="ui-g-8">
        <input type="number" pInputText />
      </div>
    </div>
    <div class="ui-g-4">
      <div class="label-img">Imagen del producto</div>
      <img class="img-product" src="/assets/product.jpg">
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guadar"></button>
    </div>
  </p-footer>
</p-dialog>
