<div class="layout-content">
    <form>
      <p-panel>
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px;font-weight:bold;">Nuevo producto</span>
          </div>
        </p-header>
        <div class="ui-g">
          <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-4">
              <span class="label-align">Id</span>
            </div>
            <div class="ui-g-8">
              <input type="text" pInputText disabled />
            </div>
            <div class="ui-g-4">
              <span class="label-align">Nombre</span>
            </div>
            <div class="ui-g-8">
              <input type="text" pInputText />
            </div>
            <div class="ui-g-4">
              <span class="label-align">Características</span>
            </div>
            <div class="ui-g-8">
              <textarea pInputText></textarea>
            </div>
            <div class="ui-g-4">
              <span class="label-align">Fecha de lanzamiento</span>
            </div>
            <div class="ui-g-8">
              <p-calendar></p-calendar>
            </div>
            <div class="ui-g-4">
              <span class="label-align">Correo fabricante</span>
            </div>
            <div class="ui-g-8">
              <input type="text" pInputText />
            </div>
            <div class="ui-g-4">
              <span class="label-align">País de fabricación</span>
            </div>
            <div class="ui-g-8">
              <p-dropdown></p-dropdown>
            </div>
            <div class="ui-g-4">
              <span class="label-align">Precio</span>
            </div>
            <div class="ui-g-8">
              <input type="number" pInputText />
            </div>
            <div class="ui-g-4">
              <span class="label-align">Unidades disponibles</span>
            </div>
            <div class="ui-g-8">
              <input type="number" pInputText />
            </div>
            <div class="ui-g-4">
              <span class="label-align">Unidades vendidas</span>
            </div>
            <div class="ui-g-8">
              <input type="number" pInputText />
            </div>
          </div>
          <div class="ui-g-4">
            <div class="label-product">Imagen del producto</div>
            <img class="img-product" src="/assets/product.jpg">
          </div>
        </div>
        <p-footer>
          <div style="width: 100%"></div>
          <a routerLink="/products" pButton type="button" label="Cerrar" class="ui-button-secondary"></a>
          <button pButton type="button" label="Guadar" class="ui-button-info"></button>
        </p-footer>
      </p-panel>
    </form>
  </div>
  