.ui-inputtext,
.div[class*='ui-dropdown'],
.ui-calendar {
  width: 100% !important;
}

textarea[class*='ui-inputtext'] {
  height: 130px;
}

.label-align {
  padding: 7px 10px 7px 0;
  float: right;
}

.label-align,
.label-product {
  font-weight: bold;
}

.label-product {
  text-align: center;
  margin-bottom: 10px;
}

.img-product {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  opacity: 0.6;
}

p-footer {
  display: flex;
}

p-footer button,
p-footer a {
  margin-right: .5em;
  width: 100px;
}
