.layout-topbar {
  height: 64px;
  background-color: #f4f4f4;
  border-bottom: 2px dotted #888;
  padding: 0.6em;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.layout-topbar .logo {
  height: 43px;
  margin-left: 2rem;
  display: inline-block;
}

.layout-topbar .tool {
  display: block;
  float: right;
}
