<div class="layout-topbar">
  <img class="logo" src="https://conocimientocorporativo.com/wp-content/uploads/2015/03/logo-cco-250-60.png" />
  <!-- <div class="tool">
    <button type="button">Salir</button>
  </div> -->
</div>
